DB_HOST=localhost
DB_NAME=orion
DB_USER=root
DB_PASS=
APP_URL=http://localhost
CLOUDFLARE_ACCOUNT_ID=1234567890
CLOUDFLARE_R2_BUCKET_NAME=orion
CLOUDFLARE_R2_TOKEN=1234567890
CLOUDFLARE_R2_TOKEN_SECRET=1234567890
TRIPT_SECRET=orion1234
STRIPE_KEY=1234567890
STRIPE_WEBHOOK_SECRET=whsec_12345678
STRIPE_DOMAIN=http://orion.test
STRIPE_DEVACCOUNT_PRICE=price_abcd1234
ENABLE_CACHE=false
MAILERSEND_API_KEY=mlsn.1234567890
EMAIL_FROM=no-reply@default.com
