DB_HOST=localhost
DB_NAME=orion
DB_USER=root
DB_PASS=
CLOUDFLARE_ACCOUNT_ID=1234567890
CLOUDFLARE_R2_BUCKET_NAME=orion
CLOUDFLARE_R2_TOKEN=1234567890
CLOUDFLARE_R2_TOKEN_SECRET=1234567890
TRIPT_SECRET=orion1234
STRIPE_KEY=1234567890
STRIPE_DOMAIN=http://orion.test
STRIPE_DEVACCOUNT_PRICE=price_abcd1234