DB_HOST=localhost
DB_NAME=orion
DB_USER=root
DB_PASS=
APP_URL=http://localhost
CLOUDFLARE_ACCOUNT_ID=1234567890
CLOUDFLARE_R2_BUCKET_NAME=orion
CLOUDFLARE_R2_TOKEN=1234567890
CLOUDFLARE_R2_TOKEN_SECRET=1234567890
TRIPT_SECRET=orion1234
STRIPE_KEY=sk_1234567890
STRIPE_PUBLIC_KEY=pk_1234567890
STRIPE_DEVACCOUNT_PRICE=price_abcd1234
ENABLE_CACHE=false
SMTP_HOST=smtp.domain.com
SMTP_USER=a@email.com
SMTP_PASSWORD=1234
SMTP_PORT=1234
EMAIL_FROM=no-reply@default.com
