{% extends "layouts/base.twig" %}

{% block title %}¡Ups! | Orion{% endblock %}

{% block content %}
    <!-- 404 Page -->
    <section class="min-h-screen flex flex-col md:flex-row items-center justify-center text-center md:text-left p-8">
        <!-- Content -->
        <div data-aos="fade-right" class="md:w-1/2">
            <!-- Error Title -->
            <h1 class="text-6xl font-bold text-gray-200 mb-4">Vaya, vaya...</h1>
            <h2 class="text-2xl font-semibold text-gray-400 mb-4">Página no encontrada</h2>
            <p class="text-lg text-gray-400 mb-8">
                Lo sentimos, no pudimos encontrar la página que buscas. Es posible que haya sido movida o ya no exista.
            </p>
            <!-- Buttons -->
            <div class="flex justify-center md:justify-start space-x-4">
                <a href="/" class="px-6 py-3 bg-alt text-white font-semibold rounded-lg shadow-lg hover:bg-alt-400 focus:ring focus:ring-brand-300 transition">
                    Volver al inicio
                </a>
            </div>
        </div>
        <!-- Decorative Image -->
        <div data-aos="fade-left" class="md:w-1/2 flex justify-center mt-12 md:mt-0">
            <img src="/assets/img/404.png" alt="Error 404">
        </div>
    </section>
{% endblock %}
