@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
}
.hover-pulse:hover {
    animation: pulse 0.3s ease-in-out;
}
.link-underline {
    position: relative;
}
.link-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}
.link-underline:hover::after {
    width: 100%;
}
.account-dropdown:hover .dropdown-icon,
.account-dropdown[aria-expanded="true"] .dropdown-icon {
    transform: rotate(90deg);
}

.menu-open {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 5s ease-in-out infinite;
}

.showcase-item img {
    opacity: 0.7; /* Transparencia inicial */
    transition: opacity 0.3s ease-in-out; /* Transición para hover */
}

.showcase-item img:hover {
    opacity: 1; /* Opacidad completa al pasar el mouse */
}

@media (max-width: 768px) {
    .showcase-item {
        width: 100px;
        height: 60px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .showcase-item {
        width: 140px;
        height: 80px;
    }
}

@media (min-width: 1025px) {
    .showcase-item {
        width: 200px;
        height: 120px;
    }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    }
    
    main {
    flex-grow: 1;
    }

.library-game {
    padding-left: 0rem;
    border-left: solid 0rem transparent;
    transition: padding-left 0.3s ease, border-left 0.3s ease;
}

.library-game:hover {
    padding-left: 0.5rem;
    border-left: solid 0.175rem #DEAB18;
}

.library-game.active {
    padding-left: 1rem;
    border-left: solid 0.2rem #DEAB18;
}