{% extends 'layouts/base.twig' %}

{% block title %}Términos y condiciones - Orion{% endblock %}

{% block content %}
<div class="p-5">
    <h1 class="font-bold text-3xl">Términos y Condiciones</h1>
    <p>Actualizado el 2024-11-20</p>

    <h1 class="font-bold text-2xl mt-5">Términos Generales</h1>
    <p>Al acceder y realizar un pedido con Orion, confirmas que estás de acuerdo y obligado por los términos de servicio contenidos en los Términos y Condiciones establecidos a continuación. Estos términos se aplican a todo el sitio web y cualquier correo electrónico u otro tipo de comunicación entre tú y Orion.</p>
    <p>En ningún caso el equipo de Orion será responsable de daños directos, indirectos, especiales, incidentales o consecuentes, incluyendo, pero no limitándose a, pérdida de datos o ganancias, que surjan del uso, o la imposibilidad de usar, los materiales de este sitio, incluso si el equipo de Orion o un representante autorizado ha sido informado de la posibilidad de dichos daños. Si el uso de los materiales de este sitio resulta en la necesidad de reparar o corregir equipos o datos, asumirás los costos de ello.</p>
    <p>Orion no será responsable de ningún resultado que pueda ocurrir durante el uso de nuestros recursos. Nos reservamos el derecho de cambiar los precios y revisar la política de uso de los recursos en cualquier momento.</p>

    <h1 class="font-bold text-2xl mt-5">Licencia</h1>
    <p>Orion te otorga una licencia revocable, no exclusiva, no transferible y limitada para descargar, instalar y usar el sitio web estrictamente de acuerdo con los términos de este Acuerdo.</p>
    <p>Estos Términos y Condiciones son un contrato entre tú y Orion (referido en estos Términos y Condiciones como "Orion", "nosotros" o "nuestro"), el proveedor del sitio web de Orion y los servicios accesibles desde el sitio web de Orion (los cuales son colectivamente referidos en estos Términos y Condiciones como el "Servicio Orion").</p>
    <p>Aceptas estar obligado por estos Términos y Condiciones. Si no estás de acuerdo con estos Términos y Condiciones, por favor no uses el Servicio Orion. En estos Términos y Condiciones, "tú" se refiere tanto a ti como individuo como a la entidad que representas. Si violas cualquiera de estos Términos y Condiciones, nos reservamos el derecho de cancelar tu cuenta o bloquear el acceso a tu cuenta sin previo aviso.</p>

    <h1 class="font-bold text-2xl mt-5">Definiciones y términos clave</h1>
    <p>Para ayudar a explicar las cosas de la manera más clara posible en estos Términos y Condiciones, cada vez que se haga referencia a estos términos, se definirán estrictamente de la siguiente manera:</p>
     <ul>
       <li>Cookie: pequeña cantidad de datos generada por un sitio web y guardada por tu navegador web. Se utiliza para identificar tu navegador, proporcionar análisis, recordar información sobre ti, como tus preferencias de idioma o información de inicio de sesión.</li>
       <li>Compañía: cuando esta política menciona “Compañía”, “nosotros” o “nuestro”, se refiere a Orion, que es responsable de tu información bajo estos Términos y Condiciones.</li>
       <li>País: donde Orion o los propietarios/fundadores de Orion tienen su sede.</li>
       <li>Dispositivo: cualquier dispositivo conectado a internet, como un teléfono, tablet, computadora o cualquier otro dispositivo que pueda utilizarse para visitar Orion y usar los servicios.</li>
       <li>Servicio: se refiere al servicio proporcionado por Orion según se describe en los términos relativos (si están disponibles) y en esta plataforma.</li>
       <li>Servicio de terceros: se refiere a anunciantes, patrocinadores de concursos, socios promocionales y de marketing, y otros que proporcionan nuestro contenido o cuyos productos o servicios creemos que pueden interesarte.</li>
       <li>Sitio web: el sitio de Orion, que puede ser accesado mediante esta URL: https://www.togetheronorion.com</li>
       <li>Tú: una persona o entidad que está registrada en Orion para usar los Servicios.</li>
     </ul>

    <h1 class="font-bold text-2xl mt-5">Restricciones</h1>
    <p>Aceptas no hacer, y no permitirás que otros hagan lo siguiente:</p>
    <ul>
    <li>Licenciar, vender, alquilar, arrendar, asignar, distribuir, transmitir, alojar, subcontratar, divulgar o explotar comercialmente el sitio web o hacer la plataforma disponible a terceros.</li>
    <li>Modificar, hacer obras derivadas, desensamblar, descifrar, recompilar o descompilar cualquier parte del sitio web.</li>
    <li>Eliminar, alterar u oscurecer cualquier aviso de propiedad (incluyendo cualquier aviso de derechos de autor o marca registrada) de Orion o sus afiliados, socios, proveedores o licenciantes del sitio web.</li>
    </ul>

    <h1 class="font-bold text-2xl mt-5">Política de Devoluciones y Reembolsos</h1>
    <p>Gracias por comprar en Orion. Apreciamos el hecho de que te guste comprar lo que construimos. También queremos asegurarnos de que tengas una experiencia gratificante mientras exploras, evalúas y compras nuestros productos.</p>
    <p>Como en cualquier experiencia de compra, existen términos y condiciones que se aplican a las transacciones en Orion. Seremos tan breves como nos permitan nuestros abogados. Lo principal que debes recordar es que al realizar un pedido o compra en Orion, aceptas los términos junto con la Política de Privacidad de Orion.</p>
    <p>Si por alguna razón no estás completamente satisfecho con cualquier bien o servicio que proporcionemos, no dudes en contactarnos y discutiremos cualquier problema que tengas con nuestro producto.</p>

    <h1 class="font-bold text-2xl mt-5">Tus Sugerencias</h1>
    <p>Cualquier retroalimentación, comentario, idea, mejora o sugerencia (colectivamente, "Sugerencias") proporcionada por ti a Orion con respecto al sitio web seguirá siendo propiedad exclusiva de Orion.</p>
    <p>Orion será libre de usar, copiar, modificar, publicar o redistribuir las Sugerencias para cualquier propósito y de cualquier manera sin ningún crédito ni compensación para ti.</p>

    <h1 class="font-bold text-2xl mt-5">Tu Consentimiento</h1>
    <p>Hemos actualizado nuestros Términos y Condiciones para proporcionarte total transparencia sobre lo que se establece cuando visitas nuestro sitio y cómo se usa. Al usar nuestro sitio web, registrarte en una cuenta o realizar una compra, das tu consentimiento a nuestros Términos y Condiciones.</p>

    <h1 class="font-bold text-2xl mt-5">Enlaces a Otros Sitios Web</h1>
    <p>Estos Términos y Condiciones se aplican únicamente a los Servicios. Los Servicios pueden contener enlaces a otros sitios web no operados ni controlados por Orion. No somos responsables del contenido, la precisión o las opiniones expresadas en dichos sitios web, y dichos sitios web no son investigados, monitoreados ni verificados por nosotros en cuanto a su precisión o integridad. Recuerda que cuando usas un enlace para ir de los Servicios a otro sitio web, nuestros Términos y Condiciones ya no están en efecto. Tu navegación e interacción en cualquier otro sitio web, incluidos los que tienen un enlace en nuestra plataforma, están sujetos a las reglas y políticas de ese sitio web. Dichos terceros pueden usar sus propias cookies u otros métodos para recopilar información sobre ti.</p>

    <h1 class="font-bold text-2xl mt-5">Cookies</h1>
    <p>Orion usa "Cookies" para identificar las áreas de nuestro sitio web que has visitado. Una Cookie es una pequeña pieza de datos almacenada en tu computadora o dispositivo móvil por tu navegador web. Usamos Cookies para mejorar el rendimiento y la funcionalidad de nuestro sitio web, pero no son esenciales para su uso. Sin embargo, sin estas cookies, ciertas funcionalidades como los videos pueden volverse inaccesibles o tendrías que ingresar tus datos de inicio de sesión cada vez que visite el sitio web, ya que no podríamos recordar que ya has iniciado sesión previamente. La mayoría de los navegadores web pueden configurarse para deshabilitar el uso de Cookies. Sin embargo, si deshabilitas las Cookies, es posible que no puedas acceder a la funcionalidad en nuestro sitio web correctamente o en su totalidad. Nunca colocamos Información Personalmente Identificable en las Cookies.</p>

    <h1 class="font-bold text-2xl mt-5">Cambios en Nuestros Términos y Condiciones</h1>
    <p>Aceptas y estás de acuerdo en que Orion puede dejar de proporcionar el Servicio (de manera permanente o temporal) a ti o a los usuarios en general a su entera discreción, sin previo aviso. Puedes dejar de usar el Servicio en cualquier momento. No necesitas informarnos específicamente cuando dejes de usar el Servicio. Aceptas y estás de acuerdo en que si Orion desactiva el acceso a tu cuenta, es posible que se te impida acceder al Servicio, los detalles de tu cuenta o cualquier archivo u otro material que esté contenido en tu cuenta.</p>
    <p>Si decidimos cambiar nuestros Términos y Condiciones, publicaremos esos cambios en esta página y/o actualizaremos la fecha de modificación de los Términos y Condiciones a continuación.</p>

    <h1 class="font-bold text-2xl mt-5">Modificaciones a Nuestro Sitio Web</h1>
    <p>Orion se reserva el derecho de modificar, suspender o discontinuar, temporal o permanentemente, el sitio web o cualquier servicio al que esté conectado, con o sin previo aviso y sin responsabilidad hacia ti.</p>

    <h1 class="font-bold text-2xl mt-5">Actualizaciones a Nuestro Sitio Web</h1>
    <p>Orion puede, de vez en cuando, proporcionar mejoras o mejoras en las características/funcionalidades del sitio web, lo que puede incluir parches, correcciones de errores, actualizaciones, mejoras y otras modificaciones ("Actualizaciones").</p>
    <p>Las Actualizaciones pueden modificar o eliminar ciertas características y/o funcionalidades del sitio web. Aceptas que Orion no tiene obligación de (i) proporcionar ninguna Actualización, ni (ii) continuar proporcionando o habilitar cualquier característica y/o funcionalidad del sitio web para ti.</p>
    <p>Además, aceptas que todas las Actualizaciones serán (i) consideradas como una parte integral del sitio web, y (ii) sujetas a los términos y condiciones de este Acuerdo.</p>

    <h1 class="font-bold text-2xl mt-5">Servicios de Terceros</h1>
    <p>Podemos mostrar, incluir o hacer disponibles contenido de terceros (incluyendo datos, información, aplicaciones y otros productos/servicios) o proporcionar enlaces a sitios web o servicios de terceros ("Servicios de Terceros").</p>
    <p>Aceptas y estás de acuerdo en que Orion no será responsable de ningún Servicio de Terceros, incluyendo su precisión, integridad, puntualidad, validez, cumplimiento de derechos de autor, legalidad, decencia, calidad o cualquier otro aspecto de los mismos. Orion no asume ni tendrá ninguna responsabilidad hacia ti o cualquier otra persona o entidad por los Servicios de Terceros.</p>
    <p>Los Servicios de Terceros y los enlaces a los mismos se proporcionan únicamente como una conveniencia para ti, y accedes y usas dichos servicios enteramente bajo tu propio riesgo y sujeto a los términos y condiciones de dichos terceros.</p>

    <h1 class="font-bold text-2xl mt-5">Término y Terminación</h1>
    <p>Este Acuerdo permanecerá en efecto hasta que tú o Orion lo terminen.</p>
    <p>Orion puede, a su sola discreción, en cualquier momento y por cualquier o ningún motivo, suspender o terminar este Acuerdo con o sin previo aviso.</p>
    <p>Este Acuerdo se terminará inmediatamente, sin previo aviso de Orion, en caso de que no cumplas con alguna disposición de este Acuerdo. También puedes terminar este Acuerdo eliminando el sitio web y todas las copias del mismo de tu computadora.</p>
    <p>Al terminar este Acuerdo, cesarás todo uso del sitio web y eliminarás todas las copias del sitio web de tu computadora.</p>
    <p>La terminación de este Acuerdo no limitará ninguno de los derechos o recursos de Orion ante la ley o en equidad en caso de incumplimiento por tu parte (durante el término de este Acuerdo) de cualquiera de tus obligaciones bajo el presente Acuerdo.</p>

    <h1 class="font-bold text-2xl mt-5">Notificación de Infracción de Derechos de Autor</h1>
    <p>Si eres el propietario de los derechos de autor o el agente de dicho propietario y crees que cualquier material en nuestro sitio web constituye una infracción de tus derechos de autor, por favor contáctanos proporcionando la siguiente información: (a) una firma física o electrónica del propietario de los derechos de autor o una persona autorizada para actuar en su nombre; (b) identificación del material que se afirma que está infringiendo; (c) tu información de contacto, incluyendo tu dirección, número de teléfono y correo electrónico; (d) una declaración tuya de que crees de buena fe que el uso del material en disputa no está autorizado por el propietario de los derechos de autor, su agente o la ley; y (e) una declaración tuya, hecha bajo pena de perjurio, de que la información contenida en tu notificación es precisa y que eres el propietario de los derechos de autor o que estás autorizado para actuar en nombre del propietario de los derechos de autor.</p>
    <p>Puede enviar esta información a <a href="mailto:copyright@togetheronorion.com">este correo electrónico.</a></p>

    <h1 class="font-bold text-2xl mt-5">Ley Aplicable</h1>
    <p>Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de los Estados Unidos Mexicanos, sin tener en cuenta sus disposiciones sobre conflicto de leyes. Además, aceptas que cualquier disputa relacionada con estos Términos y Condiciones debe ser resuelta en los tribunales competentes de la ciudad de Monterrey, Nuevo León, México.</p>

    <h1 class="font-bold text-2xl mt-5">Divisibilidad</h1>
    <p>Si alguna disposición de este Acuerdo se considera inaplicable o inválida, dicha disposición será modificada e interpretada para cumplir con los objetivos de dicha disposición en la mayor medida posible según la ley aplicable y las disposiciones restantes seguirán en pleno vigor y efecto.</p>
    <p>Este Acuerdo, junto con la Política de Privacidad y cualquier otro aviso legal publicado por Orion en los Servicios, constituirá el acuerdo completo entre usted y Orion con respecto al uso del sitio web y los Servicios. Si alguna disposición de este Acuerdo se considera inválida por un tribunal de jurisdicción competente, la invalidez de dicha disposición no afectará la validez de las disposiciones restantes de este Acuerdo, que seguirán en pleno vigor y efecto. Ninguna renuncia de alguna de las disposiciones de este Acuerdo se considerará una renuncia adicional o continua de esa disposición o de cualquier otra, y el hecho de que Orion no haga valer algún derecho o disposición bajo este Acuerdo no constituirá una renuncia de dicho derecho o disposición.</p>

    <h1 class="font-bold text-2xl mt-5">Renuncia</h1>
    <p>Excepto en lo dispuesto en este documento, el hecho de no ejercer un derecho o exigir el cumplimiento de una obligación bajo este Acuerdo no afectará la capacidad de la parte para ejercer dicho derecho o exigir dicho cumplimiento en cualquier momento posterior, ni la renuncia a un incumplimiento constituirá una renuncia a cualquier incumplimiento posterior.</p>

    <h1 class="font-bold text-2xl mt-5">Modificaciones a este Acuerdo</h1>
    <p>Orion se reserva el derecho, a su exclusiva discreción, de modificar o reemplazar este Acuerdo en cualquier momento. Si una revisión es material, proporcionaremos al menos 30 días de antelación antes de que los nuevos términos entren en vigor. Lo que constituye un cambio material será determinado a nuestra exclusiva discreción.</p>
    <p>Al continuar accediendo o utilizando nuestro sitio web después de que las revisiones entren en vigor, usted acepta quedar vinculado por los términos revisados. Si no está de acuerdo con los nuevos términos, ya no está autorizado para usar Orion.</p>

    <h1 class="font-bold text-2xl mt-5">Acuerdo Completo</h1>
    <p>El Acuerdo constituye el acuerdo completo entre usted y Orion con respecto al uso del sitio web y reemplaza todos los acuerdos escritos u orales anteriores y contemporáneos entre usted y Orion.</p>
    <p>Puede estar sujeto a términos y condiciones adicionales que se apliquen cuando utilice o compre otros servicios de Orion, los cuales Orion le proporcionará en el momento de dicha utilización o compra.</p>

    <h1 class="font-bold text-2xl mt-5">Actualizaciones a Nuestros Términos</h1>
    <p>Podemos cambiar nuestros Servicios y políticas, y es posible que necesitemos hacer cambios a estos Términos para que reflejen con precisión nuestros Servicios y políticas. A menos que la ley disponga lo contrario, le notificaremos (por ejemplo, a través de nuestros Servicios) antes de realizar cambios a estos Términos y le daremos la oportunidad de revisarlos antes de que entren en vigor. Luego, si continúa utilizando el Servicio, estará vinculado por los Términos actualizados. Si no desea aceptar estos o cualquier Término actualizado, puede eliminar su cuenta.</p>

    <h1 class="font-bold text-2xl mt-5">Propiedad Intelectual</h1>
    <p>El sitio web y todos sus contenidos, características y funcionalidades (incluyendo pero no limitado a toda la información, software, texto, exhibiciones, imágenes, video y audio, y el diseño, selección y disposición de los mismos), son propiedad de Orion, sus licenciantes u otros proveedores de dicho material y están protegidos por derechos de autor internacionales, marcas registradas, patentes, secretos comerciales y otras leyes de propiedad intelectual o derechos exclusivos. El material no puede ser copiado, modificado, reproducido, descargado ni distribuido de ninguna forma, en su totalidad o en parte, sin el previo permiso expreso por escrito de Orion, a menos que se disponga expresamente lo contrario en estos Términos y Condiciones. Cualquier uso no autorizado del material está prohibido.</p>

    <h1 class="font-bold text-2xl mt-5">Acuerdo para Arbitrar</h1>
    <p>Esta sección se aplica a cualquier disputa EXCEPTO QUE NO INCLUYE UNA DISPUTA RELACIONADA CON RECLAMOS POR MEDIDAS INJUNCTIVAS O EQUITATIVAS RESPECTO A LA EJECUCIÓN O VALIDEZ DE SUS O LOS DERECHOS DE PROPIEDAD INTELECTUAL DE Orion. El término “disputa” significa cualquier disputa, acción o controversia entre usted y Orion con respecto a los Servicios o este acuerdo, ya sea en contrato, garantía, agravio, estatuto, reglamento, ordenanza o cualquier otra base legal o equitativa. "Disputa" tendrá el significado más amplio posible permitido por la ley.</p>

    <h1 class="font-bold text-2xl mt-5">Notificación de Disputa</h1>
    <p>En caso de una disputa, usted u Orion deben darle a la otra parte una Notificación de Disputa, que es una declaración por escrito que establece el nombre, la dirección y la información de contacto de la parte que la envía, los hechos que dan lugar a la disputa y el alivio solicitado.Usted y Orion intentarán resolver cualquier disputa mediante negociación informal dentro de los sesenta (60) días posteriores a la fecha en que se envíe la Notificación de Disputa. Después de sesenta (60) días, usted u Orion podrán iniciar el arbitraje.</p>

    <h1 class="font-bold text-2xl mt-5">Arbitraje Vinculante</h1>
    <p>Si usted y Orion no resuelven cualquier disputa mediante negociación informal, cualquier otro intento de resolver la disputa se llevará a cabo exclusivamente mediante arbitraje vinculante como se describe en esta sección. Usted renuncia al derecho de litigar (o participar como parte o miembro de clase) todas las disputas en un tribunal ante un juez o jurado. La disputa se resolverá mediante arbitraje vinculante de acuerdo con las reglas de arbitraje comercial de la Asociación Americana de Arbitraje. Cualquier costo, honorarios y otros gastos legales, contables y demás incurridos por la parte ganadora serán asumidos por la parte no ganadora.</p>

    <h1 class="font-bold text-2xl mt-5">Envíos y Privacidad</h1>
    <p>En caso de que envíe o publique cualquier idea, sugerencias creativas, diseños, fotografías, información, anuncios, datos o propuestas, incluyendo ideas para productos, servicios, características, tecnologías o promociones nuevas o mejoradas, usted acepta expresamente que tales envíos serán automáticamente tratados como no confidenciales y no propietarios y se convertirán en propiedad exclusiva de Orion sin ninguna compensación o crédito para usted en absoluto. Orion y sus afiliados no tendrán ninguna obligación con respecto a tales envíos o publicaciones y podrán usar las ideas contenidas en dichos envíos o publicaciones para cualquier propósito en cualquier medio de forma perpetua, incluyendo, pero no limitado a, desarrollar, fabricar y comercializar productos y servicios utilizando dichas ideas.</p>

    <h1 class="font-bold text-2xl mt-5">Promociones</h1>
    <p>Orion podrá, de vez en cuando, incluir concursos, promociones, sorteos u otras actividades (“Promociones”) que requieran que envíe material o información sobre usted. Tenga en cuenta que todas las Promociones pueden estar regidas por reglas separadas que pueden contener ciertos requisitos de elegibilidad, como restricciones de edad y ubicación geográfica. Usted es responsable de leer todas las reglas de las Promociones para determinar si es elegible para participar o no. Si participa en alguna Promoción, acepta cumplir con todas las Reglas de las Promociones.</p>

    <h1 class="font-bold text-2xl mt-5">Errores Tipográficos</h1>
    <p>En caso de que un producto y/o servicio esté listado con un precio incorrecto o con información incorrecta debido a un error tipográfico, tendremos el derecho de rechazar o cancelar cualquier pedido realizado para el producto y/o servicio listado a un precio incorrecto. Tendremos el derecho de rechazar o cancelar cualquier pedido, ya haya sido confirmado o no el pedido y su tarjeta de crédito haya sido cargada. Si su tarjeta de crédito ya ha sido cargada por la compra y su pedido es cancelado, inmediatamente emitiremos un crédito a su cuenta de tarjeta de crédito u otra cuenta de pago en la cantidad del cargo.</p>

    <h1 class="font-bold text-2xl mt-5">Misceláneos</h1>
    <p>Si por alguna razón un tribunal de jurisdicción competente considera inaplicable alguna disposición o porción de estos Términos y Condiciones, el resto de estos Términos y Condiciones continuará en pleno vigor y efecto. Cualquier renuncia a cualquier disposición de estos Términos y Condiciones será efectiva solo si se realiza por escrito y es firmada por un representante autorizado de Orion. Orion tendrá derecho a obtener medidas cautelares u otro tipo de alivio equitativo (sin la obligación de presentar fianza o garantía) en caso de cualquier incumplimiento o incumplimiento anticipado por su parte.</p>

    <h1 class="font-bold text-2xl mt-5">Descargo de Responsabilidad</h1>
    <p>Orion no es responsable por ningún contenido, código o cualquier otra imprecisión.</p>
    <p>Orion no proporciona garantías ni garantías.</p>
    <p>En ningún caso Orion será responsable de daños especiales, directos, indirectos, consecuenciales o incidentales o cualquier daño en absoluto, ya sea en una acción de contrato, negligencia u otro agravio, que surja de o esté relacionado con el uso del Servicio o los contenidos del Servicio. La Compañía se reserva el derecho de hacer adiciones, eliminaciones o modificaciones al contenido del Servicio en cualquier momento sin previo aviso.</p>

    <h1 class="font-bold text-2xl mt-5">Contáctenos</h1>
    <p>No dude en contactarnos si tiene alguna pregunta.</p>
    <ul><li>Por correo electrónico: contact@togetheronorion.com</li><li>A través de este <a href="/support/contact">enlace</a></li></ul>
</div>
{% endblock %}
